<p>
  First and foremost, thank you,
  <a
    href="https://www.linkedin.com/learning/instructors/derek-peruo?u=2045532"
    target="_blank"
    >Mr. Derek Puruo</a
  >, for your most excellent Angular Essential Training. Without your
  comprehensive - and frankly, based - walkthrough of an Angular app and the
  invaluable assistance from the wonderful documentation at
  <a href="https://angular.io/" target="_blank">angular.io</a>, I wouldn't have
  been able to break through this challenging phase. I am now ready to move
  forward and master this framework with a solid foundational understanding.
  Once again, thank you to both.
</p>
<hr style="width: 69%; opacity: 69%;">
<p class="footnote">&copy; Project by Dylan S D Beebe, WGU College of IT, BS in Software Engineering</p>
