
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
a {
  color: rgb(255, 102, 255, 95%);
  text-decoration: none;
}
a:hover {
  font-weight: 700;
}
.hovered {
  fill: rgb(255, 102, 255, 95%);
}
.main-grid {
  display: grid;
  grid-template-rows: 20vh 30vh 30vh 20vh;
  grid-template-columns: 30vw 35vw 35vw;
  grid-template-areas: 
    'top-bar top-bar top-bar'
    'side-bar world-view world-view'
    'side-bar world-view world-view'
    'bottom-bar bottom-bar bottom-bar';

  margin: auto;
  text-align: center;
  height: 100%;
  border: solid;
}
app-top-bar {
  grid-area: top-bar;

  background-color: rgba(0, 0, 0, 90%);
  color: azure;
}
app-side-bar {
  grid-area: side-bar;
  position: absolute;
  top: 35%;
  padding-left: 10%;
}
app-world-view {
  grid-area: world-view;

  position: relative;
  left: -5%;
  top: 5%;
}
app-bottom-bar {
  grid-area: bottom-bar;

  background-color: rgba(0, 0, 0, 90%);
  color: azure;

  padding: 0 5%;
}